---
version: 4
---

@import "variables";

.clear {
  clear: both;
}

// ToC styles
.doc-nav {
  h4 {
    padding-bottom: 5px;
  }

  > ul {
    position: relative;
    background: $body-background-color;
    padding: 20px;
    margin-top: 60px;

    li {
      list-style: none;

      &::before {
        content: "›\00a0";
      }

      > a {
        font-size: 14px;
      }
    }
  }
}

// not wide enough to show quick nav and toc
@media(max-width:1099px) {
  .doc-nav > ul {
    margin: 0;
  }

  .main.class {
    float: none;
    width: inherit;
    margin: 0 auto;
    max-width: 900px;
  }
}

// wide enough to show toc but not quick nav
@media(min-width:1100px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .main.class {
    padding-top: 50px;
  }

  .doc-nav {
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 55px;
    overflow-y: scroll;
    height: 100vh;
  }

  .doc-nav ul ul {
    padding-left: 25px;
  }
}

@media(min-width:1100px) and (max-width:1600px) {
  $doc-nav-desired-width: 30vw;
  // Get around the scroll bar
  $doc-nav-width: calc(#{$doc-nav-desired-width} - 20px);

  .main.class.has-toc {
    width: 70vw;
    max-width: 70vw;
    float: left;
  }

  .doc-nav {
    width: $doc-nav-width;
  }
}

// wide enough to show quick nav and toc
@media(min-width:1601px) {
  $doc-nav-desired-width: 25vw;
  // Get around the scroll bar
  $doc-nav-width: calc(#{$doc-nav-desired-width} - 20px);

  .main.class.has-toc {
    width: 50vw;
    max-width: 50vw;
    margin-left: $doc-nav-desired-width;
  }

  .doc-nav {
    width: $doc-nav-width;
  }
}
