<!DOCTYPE HTML>
<html lang="en">
  <head>
    <%= render '/head.*' %>
  </head>
  <body>
    <%= render '/header.*' %>
    <div class="main class">
      <%= yield %>
    </div>
  </body>

  <%= render '/footer.*' %>
  <%= render '/analytics.*' %>
  <%= render '/https_redirect.*' %>
</html>
