<!DOCTYPE HTML>
<html lang="en">
  <head>
    <%= render '/head.*' %>
  </head>
  <body>
    <%= render '/header.*' %>
    <div class="wrapper">
      <div class="main class js-main-wrapper">
        <% if @config[:breadcrumbs] %>
          <% ancestor_array = ancestor_path_array(@item) unless ancestor_path_array(@item).empty? %>
          <% if ancestor_array %>
            <ul class="breadcrumbs">
              <% ancestor_array.reverse_each do |item| %>
                <li class="breadcrumb"><%= link_to item.key?(:title) ? "#{item[:title]}" : "Breadcrumb", item %></li>
              <% end %>
              <li class="breadcrumb"><%= @item.key?(:title) ? "#{@item[:title]}" : "Current page" %></li>
            </ul>
          <% end %>
        <% end %>
        <div id="doc-nav" class="doc-nav">
        </div>
        <% if @item[:title] %>
          <h1 class="article-title">
            <%= @item[:title] %>
          </h1>
        <% end %>
        <div class="article-content js-article-content">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>

  <%= render '/footer.*' %>
  <%= render '/analytics.*' %>
  <%= render '/https_redirect.*' %>
</html>
