<footer class=footer>
  <%= render '/footer_links.*' %>
  <div class='animated text-center source-link'>
    <a href='https://gitlab.com/gitlab-com/gitlab-docs' target='_blank'>Created</a> with Nanoc, hosted on <a href='https://about.gitlab.com/features/pages/' target='_blank'>GitLab Pages</a>
  </div>
</footer>
